<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>21 Cineplux</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Film')"></nav>

<div class="container-fluid">
    <h2>Update Password</h2>
    <p style="color: red" th:text="${message}"></p>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Log In
                </div>
                <div class="card-body">
                    <div th:if="${param.error}">
                        <span style="color:red">Invalid username or password</span>
                    </div>
                    <form th:action="@{/user/update/password}" method="POST">
                        <div class="row form-group">
                            <label class="col-sm-4">Password Lama:</label>
                            <input type="password" class="col-sm-8 form-control input-sm" name="oldPassword">
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4">Password Baru:</label>
                            <input type="password" class="col-sm-8 form-control input-sm" name="newPassword">
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4">Konfirmasi Password Baru:</label>
                            <input type="password" class="col-sm-8 form-control input-sm" name="newConfirmPassword">
                        </div>
                        <div class="row form-group">
                            <button type="submit" class="btn btn-warning">Simpan</button>
                            <a class="btn btn-outline-warning" href="/">Kembali</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>